{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Items <a href="/items/add" class="btn btn-primary" role="button">Add Item</a></h1>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Type</th>
                <th scope="col">Brand</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr>
                <td scope="row">{{item.name}}</td>
                <td>{{itemType.name}}</td>
                <td>{{brand.name}}</td>
                <td>{{item.cost}}</td>
                <td>
                    <a role="button" class="btn btn-success" href="/items/edit/{{item.item_id}}">Edit</a>
                    <a role="button" class="btn btn-danger" href="/items/delete/{{item.item_id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}
{{/extends}}