{{#extends "base"}}
{{#block "content"}}
<div class="container">
    <h1>Services <a href="/services/add" class="btn btn-primary" role="button">Add Service</a></h1>
    <form method="POST" class="row g-3">
        <div class="col-auto">
            <select class="form-select" aria-label="Select service type" name="searchInput">
                <option selected>Select Service Type</option>
                <option value="0">All</option>
                <option value="1">Repairs</option>
                <option value="2">Maintenance</option>
                <option value="3">Cleaning</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
    </form>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">Service</th>
                <th scope="col">Service Type</th>
                <th scope="col">Staff</th>
                <th scope="col">Cost</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each services}}
            <tr>
                <td scope="row">{{service.name}}</td>
                <td>{{serviceType.name}}</td>
                <td>{{staff.name}}</td>
                <td>{{service.cost}}</td>
                <td>
                    <a role="button" class="btn btn-success" href="/services/edit/{{service.service_id}}">Edit</a>
                    <a role="button" class="btn btn-danger" href="/services/delete/{{service.service_id}}">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}
{{/extends}}